body {
    margin: 0;
}

h1 {
    text-align: center;
}

li {
    list-style: none;
}

.marked {
    text-decoration: line-through;
}

#add-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.remove-items {
    display: flex;
    justify-content: center;
}

#userInput {
    border-radius: 13px;
}

.list-one {
    display: flex;
    overflow: hidden;
    border: 2px solid black;
    /* max-width: 20rem; */
    min-height: 30rem;
    font-size: 1rem;
    margin: 1rem;
}

/* .list-container {
    display: grid;
    justify-content: center;
} */

.lists {
    display: grid;
    grid-template-rows: 1fr, 1fr;
}