/* REDS------------ */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    margin: 0;
    font-family: 'Bebas Neue';
}

h1 {
    text-align: center;
}

li {
    list-style: none;
}

label {
    margin-right: 5px;
}

ul {
    padding-left: .25rem;
}

/* Button Input / Delete -------- */

#button-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#add-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
    margin: 2.5rem;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.387);
    padding: 2rem;
    width: 25%;
    min-width: 15rem;
    background: radial-gradient(#be79a0, #8f0353);
}

#enter-items {
    margin-left: 5px;
    border-radius: 10px;
    border: 1px solid black;
    background-image: linear-gradient(to right, #359a1c 0%, #29ce09 51%, #359a1c 100%);
    transition: 0.5s;
    background-size: 200% auto;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#enter-items:hover {
    background-position: right center;
}

#userInput {
    border-radius: 13px;
}

textarea {
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
}

textarea:focus { 
    border: none; 
    overflow: auto; 
    outline: none; 
    -webkit-box-shadow: none; 
    -moz-box-shadow: none; 
    box-shadow: none; 
    resize: none; 
}

input[type="text"], textarea {
    background-color : #be79a0; 
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #be79a0 inset;
}

#erase {
    height: fit-content;
    border-radius: 10px;
}

#erase:hover {
    background-color: rgb(255, 0, 0, 0.7);
    border-radius: 10px;
}

/* List Boxes--------- */

#list-container {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
}

#active-list {
    width: 75%;
}

#finished-list {
    width: 25%;
    min-width: 15rem;
    overflow: auto;
}

#fin-list {
    height: 80%;
}

.list-box {
    display: flex;
    overflow: hidden;
    border: 2px solid black;
    height: 25rem;
    font-size: 1rem;
    margin: 1rem;
}

.list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: auto;
    width: 100%;
}

.lists {
    display: grid;
    grid-template-rows: 1fr, 1fr;
}

.fin-box {
    display: flex;
    flex-direction: column;
}

#remove-items {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
    height: 20%;
}

/* List Items-------- */

.done-button, 
.undo-button {
    margin-right: .25rem;
    font-size: .5rem;
    height: 1rem;
    border-radius: 1rem;
    border: 3px solid rgb(96, 8, 212);
    background-color: red;
}

.item {
    padding: .3rem;
}

.marked {
    text-decoration: line-through;
}